html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: black;
}

.item {
  background-color: white;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0px 17px;
}
.item__inner {
  position: relative;
  border-radius: 16px;
  border: 1px solid #828282;
  margin: 26px 0;
  z-index: 2;
}
.item__inner-img {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.item-1 img {
  width: 100%;
  height: 220px;
}
.item-2 img {
  width: 100%;
  height: 284px;
}
.item-1 .item__inner::before,
.item-2 .item__inner::before {
  position: absolute;
  content: 'НОВИНКА';
  margin-left: -1px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.item-1 .item__inner::before {
  top: 41px;
  left: 0;
  background-color: #fed74b;
  width: 99px;
  height: 35px;
  font-size: 12px;
  color: #3e3e3e;
}
.item-2 .item__inner::before {
  top: 0px;
  left: 0;
  background-color: #7553ff;
  width: 129px;
  height: 43px;
  border-radius: 15px 0px 12px;
  margin-top: -1px;
  font-size: 14px;
  color: #ffffff;
}
.item__inner-description {
  padding: 0 5px 0 20px;
  z-index: 5;
}
.description__title {
  position: relative;
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  color: black;
  padding-top: 47px;
  margin-bottom: 15px;
}
.title-2 {
  display: none;
}
.title-1 span {
  text-transform: uppercase;
}
.description__title::before {
  content: '2 часа';
  position: absolute;
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: left;
  top: 16px;
  text-align: right;
  width: 55px;
  color: #9e9e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.description__list > li {
  position: relative;
  padding-left: 33px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4b4b4b;
}
.description__list > li + li {
  margin-top: 11px;
}
.description__list > li::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 12px;
  top: 4px;
  left: 0;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.description__time {
  padding-top: 7px;
  padding-right: 8px;
  margin-bottom: 35px;
}

.description__time li {
  display: inline-block;
  height: 24px;
  width: 64px;
  border-radius: 11px;
  background-color: #d9e8ff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.description__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7px;
  margin-bottom: 19px;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
.price__main-inner {
  display: inline-block;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  padding-right: 25px;
}

.price__pier {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
}
.item-2 .price__pier {
  line-height: 12px;
  margin-top: 5px;
}
.price-1 {
  display: inline;
}
.price-2 {
  display: none;
}
.btn {
  width: 100px;
  height: 44px;
  background-color: #fed74b;
  border-radius: 20px;
  border: 0.5px solid #cba500;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}
.item-2 .btn {
  border-radius: 10px;
  width: 90px;
  height: 44px;
  font-weight: 600;
}
.item-3 {
  display: none;
}

.extratime {
  display: none !important;
}

@media (min-width: 375px) {
  .btn {
    width: 165px;
  }
  .item-2 .btn {
    width: 193px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .item__inner {
    display: flex;
  }
  img {
    display: none;
  }
  .item-1 .item__inner-img,
  .item-2 .item__inner-img {
    height: auto;
    width: 50%;
    border-radius: 15px 0 0 15px;
  }
  .item-1 .item__inner-img {
    background-image: url(../images/kazan1.png);
  }
  .item-2 .item__inner-img {
    background-image: url(../images/kazan2.png);
  }
  .item__inner-description {
    width: 50%;
  }
  .description__title {
    padding-top: 16px;
    padding-bottom: 47px;
    margin-bottom: 0;
  }
  .description__title::before {
    top: 70px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
  .item-1 .container {
    max-width: 1100px;
    position: relative;
    right: 15px;
  }
  .item-3 {
    display: block;
  }
  .item__inner-img {
    min-width: 473px;
    height: 369px;
  }
  .item-1 .item__inner-img {
    background-image: url(../images/boat.png);
  }
  .item-2 .item__inner-img {
    background-image: url(../images/spas.png);
    max-width: 473px;
  }
  .item-3 .item__inner-img {
    background-image: url(../images/piano.png);
  }
  .title-1 {
    display: none;
  }
  .title-2 {
    display: inline;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }
  .item-1 .item__inner::before {
    top: 41px;
    width: 154px;
    height: 42px;
    background-color: #099ce8;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: white;
  }
  .item-2 .item__inner::before {
    content: 'КРУГЛЫЙ ГОД';
    top: 59px;
    width: 180px;
    height: 45px;
    background-color: #ffd83b;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: white;
    border-radius: 0px;
  }
  .description__title::before {
    font-size: 14px;
    width: 65px;
    top: 82px;
  }
  .description__list {
    margin-bottom: 60px;
  }
  .description__list > li {
    font-size: 18px;
    color: #343434;
  }
  .item__inner-description {
    width: auto;
  }
  .description__list > li {
    position: relative;
  }
  .description__time {
    display: inline;
    position: absolute;
    padding-top: 2px;
    padding-left: 5px;
    font-size: 16px;
    padding-right: 0;
  }
  .description__time li {
    height: 28px;
    width: 73px;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 5px 0;
  }
  .item-1 .description__time > li:last-child {
    display: none;
  }
  .description__time > li:hover {
    background-color: #6ba6ff;
    color: white;
  }
  .description__price {
    justify-content: start;
  }
  .price__main-inner {
    font-size: 36px;
    line-height: 25px;
  }
  .price__pier {
    font-size: 14px;
  }
  .btn,
  .item-2 .btn {
    width: 187px;
    height: 52px;
    border-radius: 23px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 18px;
    color: #292929;
    background-color: #ffd83c;
    border: 0.5px solid #ffd83c;
    font-weight: 400;
  }
  .price-1 {
    display: none;
  }
  .price-2 {
    display: inline;
  }
  .item-3 .description__time > li:last-child {
    position: relative;
  }
}
